/* font-family: 'Poppins',sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


/* Header */
.header_content {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.container {
    width: 960px;
    margin: auto;
    max-width: 100%;
    padding: 0 1rem;
}

.header_title {
    width: 50%;
}

.header_desc {
    width: 350px;
}


@media screen and (max-width: 768px) {
    .header_content {
        flex-direction: column;
        gap: 3rem;
    }

    .header_title {
        width: 100% !important;
    }
}

/* Header end */




/* Main content */
.image img {
    object-fit: cover;
    width: 240px;
    height: 350px;
}

.main_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5rem;
    column-gap: 1rem;
}

.image-2,
.image-5 {
    position: relative;
    top: 5rem;
}

.image p {
    font-weight: bold;
}

.image {
    position: relative;
}

span {
    position: absolute;
    transform: rotate(90deg);
    right: -64px;
    top: 31px;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.first_child {
    right: -76px;
    top: 45px;
}
.second_child {
    top: 34px;
}

@media screen and (max-width: 788px) {

    .image-4,
    .image-6 {
        position: relative;
        top: 5rem;
    }

    .image-5 {
        top: 0 !important;
    }

}

@media screen and (max-width: 528px) {
    .image img {
        width: 160px;
        height: 280px;
    }
    span {
        right: -45px;
        top: 23px;
    }
}

/* Main content  end */