/* font-family: 'Poppins',sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Header */
.header_content {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.container {
    width: 960px;
    margin: auto;
    max-width: 100%;
    padding: 0 1rem;
}

.header_title {
    width: 50%;
}

.header_desc {
    width: 350px;
}


@media screen and (max-width: 768px) {
    .header_content {
        flex-direction: column;
        gap: 3rem;
    }
    .header_title {
        width: 100% !important;
    }
}
/* Header end */